In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('/net/archive/groups/plggneuromol/GTS-analysis/analysis/GTS-coded.csv',  delimiter='\t')

In [12]:
df

,ID,family,sex,kinship,disease,phenotype,add_pheno,heavy_tics
0,S_6981,A,M,relative,YES,tics,.,.
1,S_6982,A,F,relative,YES,tics,.,.
2,S_7212,A,M,father,NO,.,.,.
3,S_7213,A,M,mother_brother,NO,.,.,.
4,S_7214,A,F,mother_brother_daughter,NO,.,.,.
...,...,...,...,...,...,...,...,...
181,490,Y,M,mother_father,NO,.,.,.
182,491,Y,F,mother_mother,YES,tics,.,.
183,492,Y,M,father,NO,.,.,.
184,493,Z,F,mother,YES,tics,.,.
185,494,Z,M,father,NO,.,.,.

In [19]:
a =list(df.family.value_counts())[1:]

In [21]:
sum(a) / len(a)

6.083333333333333

In [22]:
import statistics
statistics.median(a)

6.0